In [1]:
import pandas as pd

In [2]:
file = "Resources/purchase_data.csv"
df = pd.read_csv(file)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
column_names = list(df.columns)
column_names

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

In [4]:
ID, SN, Age, Gender, Item_ID, Item_Name, Price = [], [], [],[],[],[],[]
data_lists = [ID, SN, Age, Gender, Item_ID, Item_Name, Price]

In [5]:
#Takes the data frame and puts each column into a list
for n in range(0,7):
    data_lists[n] = df[column_names[n]]

ID, SN, Age, Gender, Item_ID, Item_Name, Price = data_lists[0],data_lists[1],data_lists[2],data_lists[3],data_lists[4],data_lists[5],data_lists[6]

In [13]:
col_count = len(ID)

In [14]:
#Player Count
player_count = len(ID)
player_count

780

In [15]:
#Purchasing Analysis
number_of_items = len(Item_Name.unique())
number_of_items
#df.groupby(['Item Name', 'Price'], axis=1).mean()
avg_price = df.groupby(['Item Name'])['Price'].agg(lambda x: x.unique().mean())
buy_count = Item_Name.value_counts()
revenue=Price.sum()

In [19]:
#Gender Demographics
gen_list = ['Male', 'Female', 'Other / Non-Disclosed']
gen_count=df['Gender'].value_counts()
gen_pecent=df['Gender'].value_counts(normalize=True) * 100

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [65]:
#Purchasing Analysis (Gender)
male_df = df[df.Gender == 'Male']
female_df = df[df.Gender == 'Female']
other_df = df[df.Gender == 'Other / Non-Disclosed']
m_count=male_df['Item Name'].value_counts()
f_count=female_df['Item Name'].value_counts()
o_count=other_df['Item Name'].value_counts()

m_avg=male_df.groupby(['Item Name'])['Price'].agg(lambda x: x.mean())
f_avg=female_df.groupby(['Item Name'])['Price'].agg(lambda x: x.mean())
o_avg=other_df.groupby(['Item Name'])['Price'].agg(lambda x: x.mean())

m_total= male_df.groupby(['Item Name'])['Price'].agg(lambda x: x.sum())
f_total= female_df.groupby(['Item Name'])['Price'].agg(lambda x: x.sum())
o_total= other_df.groupby(['Item Name'])['Price'].agg(lambda x: x.sum())

m_spent = male_df.groupby(['SN'])['Price'].sum().reset_index()
f_spent= female_df.groupby(['SN'])['Price'].sum().reset_index()
o_spent = other_df.groupby(['SN'])['Price'].sum().reset_index()
o_spent

#gender_spend= df.groupby(['Gender'])['Price'].sum().reset_index()
#gender_spend

                  Gender    Price
0                 Female   361.94
1                   Male  1967.64
2  Other / Non-Disclosed    50.19

In [106]:
#Age Dempgraphics
age_df = df
labels = ["Less than 10", '10 to 14', '15 to 19', '19 to 23', '24 and up']
bins = [0, 9.9, 14.9,19.9,23.9,140]
age_df['Age Group']= pd.cut(df["Age"], bins,labels=labels, include_lowest=True)
#age_df

age_count = age_df.groupby(['Age Group','Item Name'])['Item ID'].count().reset_index()
age_count.dropna()
age_count = age_count[age_count['Item ID'] != 0]


age_avg = age_df.groupby(['Age Group', 'Item Name'])['Price'].mean().reset_index()
age_avg=age_avg.dropna()

age_total = age_df.groupby(['Age Group'])['Price'].sum().reset_index()
age_count = age_df.groupby(['Age Group'])['Purchase ID'].count().reset_index()
#age_total = age_total.dropna()
merge_df = pd.merge(age_total, age_count, on="Age Group")
merge_df['Average Spent'] = merge_df['Price']/merge_df['Purchase ID']
merge_df

      Age Group   Price  Purchase ID  Average Spent
0  Less than 10   77.13           23       3.353478
1      10 to 14   82.78           28       2.956429
2      15 to 19  412.89          136       3.035956
3      19 to 23  903.84          298       3.033020
4     24 and up  903.13          295       3.061458