In [1]:
import pandas as pd

In [2]:
file = "Resources/purchase_data.csv"
df = pd.read_csv(file)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
column_names = list(df.columns)
column_names

['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price']

In [4]:
ID, SN, Age, Gender, Item_ID, Item_Name, Price = [], [], [],[],[],[],[]
data_lists = [ID, SN, Age, Gender, Item_ID, Item_Name, Price]

In [5]:
#Takes the data frame and puts each column into a list
for n in range(0,7):
    data_lists[n] = df[column_names[n]]

ID, SN, Age, Gender, Item_ID, Item_Name, Price = data_lists[0],data_lists[1],data_lists[2],data_lists[3],data_lists[4],data_lists[5],data_lists[6]

In [6]:
col_count = len(ID)

In [26]:
#Player Count
player_count = [len(ID)]
player_count_df = pd.DataFrame(player_count,columns=['Total Players'])
player_count_df

   Total Players
0            780

In [32]:
#Purchasing Analysis
number_of_items = len(Item_Name.unique())
number_of_items
#df.groupby(['Item Name', 'Price'], axis=1).mean()
tot_price = df['Price'].sum()
buy_count = Item_Name.value_counts()
revenue=Price.sum()

info_list = [[number_of_items,tot_price/len(ID),len(ID), tot_price]]

pd.DataFrame(info_list, columns= ['Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [9]:
#Gender Demographics
gen_list = ['Male', 'Female', 'Other / Non-Disclosed']
gen_count=df['Gender'].value_counts()
gen_pecent=df['Gender'].value_counts(normalize=True) * 100

In [10]:
#Purchasing Analysis (Gender)
male_df = df[df.Gender == 'Male']
female_df = df[df.Gender == 'Female']
other_df = df[df.Gender == 'Other / Non-Disclosed']
m_count=male_df['Item Name'].value_counts()
f_count=female_df['Item Name'].value_counts()
o_count=other_df['Item Name'].value_counts()

m_avg=male_df.groupby(['Item Name'])['Price'].agg(lambda x: x.mean())
f_avg=female_df.groupby(['Item Name'])['Price'].agg(lambda x: x.mean())
o_avg=other_df.groupby(['Item Name'])['Price'].agg(lambda x: x.mean())

m_total= male_df.groupby(['Item Name'])['Price'].agg(lambda x: x.sum())
f_total= female_df.groupby(['Item Name'])['Price'].agg(lambda x: x.sum())
o_total= other_df.groupby(['Item Name'])['Price'].agg(lambda x: x.sum())

m_spent = male_df.groupby(['SN'])['Price'].sum().reset_index()
f_spent= female_df.groupby(['SN'])['Price'].sum().reset_index()
o_spent = other_df.groupby(['SN'])['Price'].sum().reset_index()
o_spent

#gender_spend= df.groupby(['Gender'])['Price'].sum().reset_index()
#gender_spend

              SN  Price
0         Airi27   3.45
1    Chanosian48   7.52
2      Eodaisu60   3.94
3     Haerithp41   4.40
4      Idairin51   7.00
5    Jiskirran77   3.39
6       Lirtim36   1.33
7     Maluncil97   5.28
8      Rairith81   2.22
9   Siarithria38   6.91
10      Sundim98   4.75

In [11]:
#Age Dempgraphics
age_df = df
labels = ["Less than 10", '10 to 14', '15 to 19', '19 to 23', '24 and up']
bins = [0, 9.9, 14.9,19.9,23.9,140]
age_df['Age Group']= pd.cut(df["Age"], bins,labels=labels, include_lowest=True)
#age_df

age_count = age_df.groupby(['Age Group','Item Name'])['Item ID'].count().reset_index()
age_count.dropna()
age_count = age_count[age_count['Item ID'] != 0]


age_avg = age_df.groupby(['Age Group', 'Item Name'])['Price'].mean().reset_index()
age_avg=age_avg.dropna()

age_total = age_df.groupby(['Age Group'])['Price'].sum().reset_index()
age_count = age_df.groupby(['Age Group'])['Purchase ID'].count().reset_index()
#age_total = age_total.dropna()
merge_df = pd.merge(age_total, age_count, on="Age Group")
merge_df['Average Spent'] = merge_df['Price']/merge_df['Purchase ID']
merge_df

      Age Group   Price  Purchase ID  Average Spent
0  Less than 10   77.13           23       3.353478
1      10 to 14   82.78           28       2.956429
2      15 to 19  412.89          136       3.035956
3      19 to 23  903.84          298       3.033020
4     24 and up  903.13          295       3.061458

In [12]:
#Top Spenders
player_sum = df.groupby(['SN'])['Price'].sum().reset_index()
player_sum = player_sum.sort_values('Price', ascending=False)
player_sum
condense = player_sum.head(5) #Might merge here

cond_list= condense['SN'].tolist()
cond_list
cond_df = df.loc[df["SN"].isin(cond_list), :]
#cond_df

top_avg = cond_df.groupby(['SN'])['Price'].mean().reset_index()
#top_avg
top_sum = cond_df.groupby(['SN'])['Price'].sum().reset_index()
#top_sum
top_count = cond_df.groupby(['SN'])['Purchase ID'].count().reset_index()

final_list = pd.merge(top_avg,top_sum, on='SN')
final_list = pd.merge(final_list, top_count, on = 'SN')
final_list.columns = ['SN', 'Average Spent', 'Total Spent', 'Number of Buys']
final_list

            SN  Average Spent  Total Spent  Number of Buys
0   Chamjask73       4.610000        13.83               3
1  Idastidru52       3.862500        15.45               4
2       Iral74       3.405000        13.62               4
3  Iskadarya95       4.366667        13.10               3
4    Lisosia93       3.792000        18.96               5

In [13]:
#Most Popular Items
item_df = df.groupby(['Item Name','Item ID'])['Purchase ID'].count().reset_index()
item_df.columns = ['Item Name', 'Item ID','Number Purchased']
item_df = item_df.sort_values('Number Purchased', ascending=False)
item_df = item_df.head(5)
#item_df

item_name = item_df['Item Name'].tolist()
#item_name

item_data = df.loc[df["Item Name"].isin(item_name), :]
#item_data
item_price = item_data.groupby(['Item Name'])['Price'].mean().reset_index()
item_price
item_count = item_data.groupby(['Item Name'])['Price'].count().reset_index()
item_count.columns = ['Item Name','Number of Purchases']
item_total = item_data.groupby(['Item Name'])['Price'].sum().reset_index()
item_total.columns = ['Item Name', 'Total']

item_df = pd.merge(item_df, item_price, on='Item Name')
item_df = pd.merge(item_df, item_count, on='Item Name')
item_df = pd.merge(item_df, item_total, on='Item Name')
del item_df['Number Purchased']
item_df

,Item Name,Item ID,Price,Number of Purchases,Total
0,Final Critic,92,4.614615,13,59.99
1,"Oathbreaker, Last Hope of the Breaking Storm",178,4.230000,12,50.76
2,Persuasion,132,3.221111,9,28.99
3,Nirvana,82,4.900000,9,44.10
4,"Extraction, Quickblade Of Trembling Hands",108,3.530000,9,31.77

In [23]:
#Most Profitable Items
prof_df= df.groupby(['Item Name','Item ID'])['Price'].sum().reset_index()
prof_df = prof_df.sort_values('Price', ascending=False)
prof_df.columns = ['Item Name', 'Item ID', 'Total Purchase Value']
prof_df = prof_df.head(5)

prof_names = prof_df['Item Name'].tolist()
prof_data = df.loc[df["Item Name"].isin(prof_names), :]
prof_count = prof_data.groupby(['Item Name','Item ID'])['Purchase ID'].count().reset_index()
prof_count.columns = ['Item Name', 'Item ID', 'Count']
del prof_count['Item ID']

prof_df = pd.merge(prof_df, prof_count, on='Item Name')
prof_df['Price'] = prof_df['Total Purchase Value']/prof_df['Count']
prof_df

,Item Name,Item ID,Total Purchase Value,Count,Price
0,Final Critic,92,59.99,13,4.614615
1,"Oathbreaker, Last Hope of the Breaking Storm",178,50.76,12,4.230000
2,Nirvana,82,44.10,9,4.900000
3,Fiery Glass Crusader,145,41.22,9,4.580000
4,Singed Scalpel,103,34.80,8,4.350000